.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: grid;
    place-content: center;
}

.overlay {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    position: fixed;
    inset: 0;
    z-index: 11;
}

.modal__children {
    background: white;
    z-index: 12;
    border-radius: 0.5rem;
    padding: 3rem 3rem;
}
